/* by @dang3r */
body {
    font-family: Arial, sans-serif;
}
#calculator {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}